@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  * {
    @apply border-gray-800;
  }

  body {
    @apply bg-gray-950 text-gray-100;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
